body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d8d8d8;
}
.about{
    border-radius: 2%;
    width: 450px;
    background: #d8d8d8;
    padding: 40px;
    text-align: center;
    margin: auto; 
    margin-top: 5%;
    color: rgb(0, 0, 0); 
    font-family: 'Open Sans', sans-serif;
}
.about-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.about h1{
    font-size: 40px;
    font-weight: 100;
}
.about p{
    text-align: justify;
}
.contact{
    text-align:center;
    padding-top: 40px;
}
.material-icons{
    color: #000000;
    font-size: 40px !important;
}
a:link, a:visited{
    text-decoration:none;
}
a:hover{
    color:#8b8b8b;
    transition: color 250ms;
}
@media (max-width:1000px){
    .about{
        border-radius: 2%;
        width: 80%;
        height: 80%;
        background: #354F52;
        padding: 40px;
        text-align: center;
        margin: auto; 
        margin-top: 50%;
    }
}