html { 
    font-family: "Open Sans", sans-serif; 
    color: #FFFFFF;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    background-color: #000000;
}
body {
    width: 80rem;
    margin: auto;
    background-color: #000000;
}
h1 {
    font-size: 4rem;
    text-align: center;
}
p {
    font-size: 3rem;
    letter-spacing: 1rem;
}
li { 
    font-size: 2rem;
    list-style-type: none;
}
a:link {
    color:#FFFFFF
}
a:hover {
    color: #D9D9D9
}