a:link {
    color:#000000;
    text-decoration:none;
}
a:visited {
    color:#000000;
    text-decoration:none;
}
a:hover {
    color: #D9D9D9;
    text-decoration:none;
}
a:active {
    background: #D9D9D9;
    text-decoration:none;
}
#email a:link {
    color:#FFFFFF;
}
#email a:visited {
    color:#FFFFFF;
}
#email a:hover {
    color: #D9D9D9;
}
#email a:active {
    background: #D9D9D9;
}
body {
    width: 80rem;
    margin: auto;
    background-color: #000000;
}
h1 {
    font-size: 4rem;
    text-align: center;
}
html { 
    font-family: 'Roboto', sans-serif; 
    color: #FFFFFF;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    background-color: #000000;
}
li {
    float: left;
    display: block;
    padding: 8px;
    background-color:#FFFFFF;
    border-right: 1px solid #000000;
    text-decoration:none;
}
li last-child {
    border-right:none;
}
.material-icons.md-36 { font-size: 36px; }
p {
    font-size: 1rem;
}
img {
    height:600px;
    width:600px;
}
